html {
    font: 400 normal 12px / 22px Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}

.crawler-container {
    position: absolute;
    z-index: 10;
    width: 85%;
    max-height: 15%;
    top: 5%;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.legend-container {
    position: absolute;
    z-index: 10;
    width: 10%;
    height: 70%;
    top: 20%;
    right: 2%;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.legend-float {
    float: left;
    height: 100%;
    /* margin-left: 5px; */
}

#legend-header {
    height: 5%;

}

#cbar-container {
    height: 90%;
    /* width: 90%; */
    /* right: 0; */
}

#cbar-labels {
    position: relative;
    width: 50%;
    display: flex;
}

.cbar-label {
    right: 0.25em;
    /* font-weight: 300;
    font-size: 1em; */
}

#cbar-label-top {
    position: absolute;
    top: 5%;
}

#cbar-label-bottom {
    position: absolute;
    bottom: 0;
}

#cbar {
    width: 20%;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(40,11,83,1) 14%, rgba(101,21,110,1) 28%, rgba(159,42,99,1) 42%, rgba(212,72,66,1) 57%, rgba(245,125,21,1) 71%, rgba(250,194,40,1) 86%, rgba(252,255,164,1) 100%);
    /* background-color: red; */
    
    
    clip-path: polygon(0 5%, 50% 0, 100% 5%, 100% 100%, 0 100%
    )
}

#legend-annotation {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#legend-label {
    height: auto;
    /* top: 50%; */
    transform: rotate(90deg);
}

/* inline selection */
.inline-selection {
    list-style-type: none;
    padding: 5px 0 5px 10px;
    background-color: #fff;
    

    &:hover {
        cursor: pointer;
        background-color: #268BCC;
        color: white;
    }
}

.inline-selections {
    position: absolute;
    left: 0;
    top: 30px;
    min-width: 200px;
    padding-left: 0px;
    margin: 0;
    border: 1px solid #EEE;
    box-shadow: 0 2px 2px 0 #CCC;
    border-radius: 4px;
    display: none;

    &.open {
        display: block;
    }
}

.inline-dropdown {
    border-bottom: 1px dashed #AAA;
    position: relative;
    margin-right: 15px;
    display: inline-block;

    &:after {
        content: '';
        position: absolute;
        right: -12px;
        top: 42%;
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 6px solid #AAA;
    }

    &:hover {
        cursor: pointer;
    }
}

.inline-sentence {
    color: #9A9A9A;
    position: relative;
    font-weight: 300;
    font-size: 1.5em;
    margin-left: .3em;
}

#currentSeason {
    font-weight: 900;
}